@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-100 text-slate-900 font-sans min-h-screen text-[14px] leading-normal;
  }

  input, select, textarea, button {
    @apply font-sans;
  }
}

/* Institutional crisp scrollbars */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-400 hover:bg-slate-500;
}

@layer components {
  /* Crisp Institutional Panel */
  .gov-card {
    @apply bg-white border border-slate-300 shadow-sm;
  }

  .gov-card-header {
    @apply px-4 py-3 bg-slate-50 border-b border-slate-200 flex items-center justify-between text-xs font-bold uppercase tracking-wider text-slate-700;
  }
}
